version: '3'

services:
  db:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_DATABASE=wordpress
      - MYSQL_ROOT_PASSWORD=&MYSQL_ROOT_PASSWORD
      - MYSQL_USER=$MYSQL_USER
      - MYSQL_PASSWORD=$MYSQL_PASSWORD
    volumes:
      - ./dbdata:/var/lib/mysql
      # TODO add backup folder ./dbdata/backupdb:/var/lib/mysql/backupdb
    command: '--default-authentication-plugin=mysql_native_password'
    networks:
      - app-network

  wordpress:
    depends_on:
      - db
    image: wordpress:5.8.3-php7.4-fpm
    container_name: wordpress
    restart: unless-stopped
    links:
      - db:db
    ports:
      - "9000:80"  
    env_file: .env
    environment:
      - WORDPRESS_DB_HOST=db:3306
      - WORDPRESS_DB_USER=$MYSQL_USER
      - WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD
      - WORDPRESS_DB_NAME=wordpress
    volumes:
      - ./wordpress:/var/www/html
    networks:
      - app-network

  nginx:
    depends_on:
      - wordpress
    image: nginx:1.15.12-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./wordpress:/var/www/html
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - app-network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"  

  certbot:
    depends_on:
      - nginx
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    #command: certonly --webroot --webroot-path=/var/www/html --email djordje.vucinac@gmail.com --agree-tos --no-eff-email --force-renewal --staging -d 444noresponse.com -d www.444noresponse.com
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.1.1-fpm
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - db
    links:
      - db:db
    ports:
      - "8080:80"
    env_file: .env
    environment:
      - PMA_HOST=db:3306
      - PMA_USER=$MYSQL_USER
      - PMA_PASSWORD=$MYSQL_PASSWORD
      - PMA_ARBITRARY=1
    networks:
      - app-network

#volumes:
#  certbot-etc:
#  wordpress:
#  dbdata:

networks:
  app-network:
    driver: bridge
