version: '3'

services:
  db:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_DATABASE=wordpress
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
      - MYSQL_USER=$MYSQL_USER
      - MYSQL_PASSWORD=$MYSQL_PASSWORD
    volumes:
      - ./dbdata:/var/lib/mysql
      # TODO add backup folder ./dbdata/backupdb:/var/lib/mysql/backupdb
    command: '--default-authentication-plugin=mysql_native_password'
    networks:
      - app-network

  wordpress:
    depends_on:
      - db
      # - redis
    image: wordpress:5.9-php7.4-fpm
    container_name: wordpress
    restart: unless-stopped
    links:
      - db:db
      # - redis:redis
    env_file: .env
    environment:
      - WORDPRESS_DB_HOST=db:3306
      - WORDPRESS_DB_USER=$MYSQL_USER
      - WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD
      - WORDPRESS_DB_NAME=wordpress
      #- WPFPM_WP_REDIS_HOST: redis
      #- WPFPM_RT_WP_NGINX_HELPER_CACHE_PATH: "/tmp/cache"
      #- WP_PLUGINS: "nginx-helper redis-cache"
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=$REDIS_PASSWORD
    logging:
      options:
        max-size: "10m"
        max-file: "10"  
    volumes:
      - ./wordpress:/var/www/html
    networks:
      - app-network

  nginx:
    depends_on:
      - wordpress
    image: nginx:1.20.2-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./wordpress:/var/www/html
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/nginx/logs:/var/log/nginx
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - app-network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    depends_on:
      - nginx
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    #command: certonly --webroot --webroot-path=/var/www/html --email djordje.vucinac@gmail.com --agree-tos --no-eff-email --force-renewal --staging -d 444noresponse.com -d www.444noresponse.com
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  phpmyadmin:
    image: phpmyadmin:5.1.1
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - db
    links:
      - db:db
    ports:
      - "8080:80"
    env_file: .env
    environment:
      - PMA_HOST=db:3306
      - PMA_USER=$MYSQL_USER
      - PMA_PASSWORD=$MYSQL_PASSWORD
      - PMA_ARBITRARY=1
    # volumes:
    #   - ./phpmyadmin:/var/www/pma
    networks:
      - app-network

  # redis:
  #   image: redis:6.2.6
  #   restart: unless-stopped
  #   container_name: redis
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - ./data/redis-data:/var/lib/redis
  #     - ./data/redis-conf:/usr/local/etc/redis/redis.conf  
  #   networks:
  #     - app-network
  #   environment:
  #     - REDIS_REPLICATION_MODE=master 
  #   command: redis-server --save 20 1 --maxmemory 256mb --maxmemory-policy allkeys-lru --appendonly yes --loglevel warning --requirepass $REDIS_PASSWORD
  #   #command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru --appendonly yes


#volumes:
#  certbot-etc:
#  wordpress:
#  dbdata:

networks:
  app-network:
    driver: bridge
